@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}

@keyframes galaxyColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-galaxy {
  background: linear-gradient(270deg, #b3b3b3, #114fd4, #64b0f8, #9e9e9e, #5842d3);
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: galaxyColor 10s ease infinite;
}

#floating-navbar {
  transition: opacity 0.3s ease;
  opacity: 0;
}

#floating-navbar.visible {
  opacity: 1;
}

#first-section.fixed {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#navbar {
  background-color: transparent; /* Pas de fond */
  transition: opacity 0.5s ease-in-out; /* Transition fluide pour l'apparition */
  opacity: 0; /* Masqué par défaut */
}

#navbar.visible {
  opacity: 1; /* Visible après avoir dépassé la deuxième section */
}

#navbar:not(.visible) {
  opacity: 0;
  filter: blur(10px);
}

.shadow-b-lg {
  box-shadow: 0 20px 15px 14px rgba(0, 0, 0, 0.6), 0 4px 60px 14px rgba(0, 0, 0, 0.05);
}

.scale-up {
  animation: scaleUp 0.5s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

html {
  scroll-behavior: smooth;
}